* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
  margin-bottom: 50px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__title {
  font-size: 35px;
}
.header__btn {
  padding: 15px 60px;
  border: none;
  border-radius: 7px;
  color: #fff;
  background-color: black;
}

.of {
  margin-top: 50px;
  margin-bottom: 50px;
}
.of__general {
  display: flex;
  align-items: center;
  padding-left: 110px;
}
.of__img {
  width: 500px;
}
.of__box {
  background-color: #ECE7E4;
  padding: 117px;
}
.of__title {
  font-size: 40px;
  width: 300px;
  margin-bottom: 40px;
}
.of__text {
  font-size: 15px;
  width: 400px;
}

.our {
  margin-top: 50px;
  margin-bottom: 50px;
}
.our__box {
  text-align: center;
  padding: 50px;
}
.our__title {
  font-size: 30px;
  margin-bottom: 30px;
}
.our__text {
  width: 400px;
  margin: 0 auto;
}
.our__box1 {
  margin-top: 30px;
}

.pic {
  margin-top: 50px;
  margin-bottom: 50px;
}
.pic__img {
  width: 100%;
  height: 500px;
}

.do {
  margin-top: 20px;
}
.do__title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}
.do__general {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
  text-align: center;
}
.do__img {
  width: 70px;
  margin-bottom: 20px;
}
.do__text {
  width: 250px;
  margin: 0 auto;
}

.ex {
  background-color: #403E3B;
  padding: 50px;
}
.ex__title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
.ex__text {
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 600px;
}

.in {
  margin-top: 50px;
  margin-bottom: 50px;
}
.in__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.in__text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
}
.in__general {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
  grid-gap: 30px;
}
.in__img {
  width: 350px;
  margin: 0 auto;
}

.we {
  margin-bottom: 50px;
  margin-top: 50px;
}
.we__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
.we__general {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
  grid-gap: 30px;
}
.we__box1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}
.we__img {
  width: 50px;
}

.on {
  margin-top: 190px;
  margin-bottom: 100px;
  background-color: #CEC4BC;
  padding: 100px;
}
.on__title {
  font-size: 45px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

.footer {
  margin-bottom: 100px;
}
.footer__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .header__list {
    display: none;
  }
  .of__general {
    display: grid;
    grid-template-columns: repeat(1, auto);
    padding: 0;
  }
  .of__box {
    padding: 50px;
  }
  .of__img {
    width: 600px;
    height: 400px;
  }
  .do__general {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
    text-align: center;
  }
  .in__general {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  .we__general {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .on {
    margin-top: 190px;
    margin-bottom: 100px;
    background-color: #CEC4BC;
    padding: 60px;
  }
  .on__title {
    font-size: 40px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */